.app-layout {
  display: flex;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin-left: 250px;
  background-color: #f4f7f6;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}
